# Ignore everything in this directory
*
# Except this file
!.gitignore
!readme.txt
!6A_Predictive_intervals.R
!6B_Hindcast_output_analysis.R
!6C_Uncertainty_partitioning_output_analysis.R
!6D_Observation_uncertainty_analysis.R
!6E_Check_uncertainty_partitioning_modality.R